/* FORM CONTENT BOX */
#content {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px 20px;
}

#content_form_name {
	cursor: pointer;
}

.content-hover {
	border: 1px dashed #3a87ad !important;
	color: #3a87ad;
	background: #d9edf7;
	opacity: 0.5;
}

.content-hover legend {
	color: #3a87ad;
	border-color: -moz-use-text-color -moz-use-text-color #3a87ad;
}

.content-hover .element {
	border: 1px solid #d9edf7;
}

/* RANDOM BOOTSTAP FIX BECAUSE INPUT HEIGHT IS SET AT 30px ?!?! */
input[type=text] {
	height: auto;
}

/* COMPONENTS */
.component {
	cursor: move;
	padding: 10px;
	border: 1px solid #fff;
}

.component:hover {
	background: #fafafa !important;
	border: 1px solid #eee;
}

.component-drag {
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
	background: #FFF;
}

/* ELEMENTS */
.element {
	cursor: move;
	padding: 10px;
	border: 1px solid #fff;
}

.element:hover {
	background: #fafafa;
	border: 1px solid #eee;
}

.element-placeholder {
	border: 1px dashed #3a87ad;
	color: #3a87ad;
	background: #d9edf7;
	min-height: 50px;
	opacity: 0.5;
}